<h1>Open AI</h1>
<div class="container" id="question-form">
  <div class="row">
    <%= render "home/forms/professionally_say" %>
  </div>
  <div class="row">
    <%= render "home/forms/resume_form" %>
  </div>
</div>
