<%= simple_form_for :professionally_say, url: "/openai_question", method: :post do |form| %>
  <div class="col-md-12">
    "How do you professionally say, "<%= form.text_field :question, class: "form-control inline", placeholder: "this meeting should have been an email" %>" in a corporate setting? 
    <%= form.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
